<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Shipping details</title>
<body>
<nav>
    <a href="/">Home</a>
</nav>
<header>
    <h2>Please enter your personal details.</h2>
</header>

<main>

    <form method="get">     <!----VARBŪT NĒ. TIE KAS ZIN PASKATĪTIES ADRESES RINDĀ ZI KĀ TO IZDABŪT O INSPECT.
                            Tu lietosi POST metodi te, lai klienta detaļas neparādītos web adreses ailē.---->
        <div>
            <label>Name, surname</label>
            <input type="text" name="customerName">
        </div>
        <div>
            <label>Shipping address:</label>
            <input type="text" name="customerAddress">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="customerEmail">
        </div>
        <div>
            <label><b>Special wishes:</b></label>
            <textarea name="customerWishes" placeholder="Leave a comment here"></textarea>
        </div>

        <br>
        <nav>
            <a href="/the_book">View your order.</a>
        </nav>
</main>
<footer>

</footer>
</body>
</html>