<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kia's books | Your book</title>
</head>

<body>
<nav>
    <a href="/">Home</a>
</nav>
<header>
    <h2 th:text="${projectTitle}"></h2>
    <h3 th:text="${pageInfo.getPageTitle()}"></h3>
</header>

<main>
    <section>
        <div>
            <span><b>Cover type:</b></span>
            <span th:text="${coverType}"></span>
        </div>
    </section>
    <!--    <section>-->
    <!--        <div>-->
    <!--            <span><b>Cover type:</b></span>-->
    <!--            <span th:text="${theChosenCoverType}"></span>-->
    <!--            Neskatoties, ko es ievadu /create lapā, Thymeleaf ņem to "${coverType}" no model.addAttribute("coverType", "hardcover");-->
    <!--            tad kad Tu dabūsi @RequestParam working, the coverType value should come from JAVA-->
    <!--        </div>-->
    <!--    </section>-->
    <section>
        <div>
            <span><b>Leather type:</b></span>
            <span th:text="${leatherType}"></span>
        </div>
    </section>
    <!--    <section>-->
    <!--        <div>-->
    <!--            <span><b>Leather type:</b></span>-->
    <!--            <span th:text="${theChosenLeatherType}"></span>-->
    <!--        </div>-->
    <!--    </section>-->
    <section>
        <div>
            <span><b>Colour of the leather:</b></span>
            <span th:text="${colourOfLeather}"></span>
        </div>
    </section>
    <!--    <section>-->
    <!--        <div>-->
    <!--            <span><b>Colour of the leather:</b></span>-->
    <!--            <span th:text="${theChosenColourOfLeather}"></span>-->
    <!--        </div>-->
    <!--    </section>-->
    <section>
        <div>
            <span><b>Size:</b></span>
            <span th:text="${size}"></span>
        </div>
    </section>
    <section>
        <div>
            <span><b>Number of pages:</b></span>
            <span th:text="${numberOfPages}"></span>
        </div>
    </section>
    <section>
        <div>
            <span><b>Paper type:</b></span>
            <span th:text="${paperType}"></span>
        </div>
    </section>
    <section>
        <div>
            <span><b>Paper base colour:</b></span>
            <span th:text="${paperBaseColour}"></span>
        </div>
    </section>
    <section>
        <div>
            <span><b>Prints:</b></span>
            <span th:text="${coverPrints}"></span>
        </div>
    </section>
    <section>
        <div>
            <span><b>Additional style elements:</b></span>
            <span th:text="${additionalStyleElements}"></span>
        </div>
    </section>
    <!--    <section>-->
    <!--        <div>-->
    <!--            <h2>Your personalised book.</h2>-->
    <!--            <ul>-->
    <!--                <li th:each="myBookDetail: ${myBookDetails}">-->
    <!--                    <span th:text="${myBookDetail.getDetail()}"></span>-->
    <!--                    <span th:text="${myBookDetail.getChosenFeature()}"></span>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </section>-->


    <!--    <br>-->
    <!--    <section>-->
    <!--        <div>-->
    <!--            <span>-&#45;&#45; Order</span>-->
    <!--            <span>number</span>-->
    <!--            <span th:text="${yourOrder.getOrderNumber()}"></span>-->
    <!--            <span>for</span>-->
    <!--            <span th:text="${yourOrder.getCustomer().getCustomerName()}"></span>-->
    <!--            <span>has been</span>-->
    <!--            <span th:text="${#strings.toLowerCase(yourOrder.getOrderStatus())}"></span>-->
    <!--            <span>-&#45;&#45;</span>-->
    <!--        </div>-->
    <!--    </section>-->

    <!--    </section>-->

    <h2>Please enter your personal details.</h2>


    <form method="get" action="/receipt">
        <div>
            <label>Name, surname</label>
            <input type="text" name="customerName">
        </div>
        <div>
            <label>Shipping address:</label>
            <input type="text" name="customerAddress">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="customerEmail">
        </div>
        <br>
        <div>

            <button type="submit">Submit</button>
        </div>
    </form>
    <br>
    <h3>Thanks for placing the order.</h3>
    <!--        <div>-->
    <!--            <span>Your order number is</span>-->
    <!--            <span th:text="${yourOrder.getOrderNumber()}">.</span><br>-->
    <!--            <span>Click</span>-->
    <!--            <nav>-->
    <!--                <a href="/receipt">here</a>-->
    <!--            </nav>-->
    <!--            <span>to see the details of your order.</span>-->
    <!--        </div>-->

    <!--        <h2>Please enter your personal details.</h2>-->


    <!--        <form method="get">     &lt;!&ndash;&#45;&#45;VARBŪT NĒ. TIE KAS ZIN PASKATĪTIES ADRESES RINDĀ ZI KĀ TO IZDABŪT O INSPECT.-->
    <!--                            Tu lietosi POST metodi te, lai klienta detaļas neparādītos web adreses ailē.&#45;&#45;&ndash;&gt;-->
    <!--            <div>-->
    <!--                <label>Name, surname</label>-->
    <!--                <input type="text" name="customerName">-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                <label>Shipping address:</label>-->
    <!--                <input type="text" name="customerAddress">-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                <label>Email:</label>-->
    <!--                <input type="email" name="customerEmail">-->
    <!--            </div>-->
    <!--            <br>-->
    <!--            <div>-->
    <!--                &lt;!&ndash;&#45;&#45;button type="view">Review the order</button&#45;&#45;&ndash;&gt;-->
    <!--                <button type="submit">Submit</button>-->
    <!--            </div>-->

    <!--            <br>-->
    <!--            <h3>Thanks for placing the order.</h3>-->
    <!--            <div>-->
    <!--                <span>Your order number is</span>-->
    <!--                <span th:text="${yourOrder.getOrderNumber()}">.</span><br>-->
    <!--                <span>Click</span>-->
    <!--                <nav>-->
    <!--                    <a href="/receipt">here</a> &lt;!&ndash;-&#45;&#45;nesapratu, kā šo visu dabūt vienā rindā&#45;&#45;&ndash;&gt;-->
    <!--                </nav>-->
    <!--                <span>to see the details of your order.</span>-->
    <!--            </div>-->

    <!--        </form>-->
</main>
<footer>

</footer>
</body>
</html>