<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create your book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
h5 {
  background-color: violet;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}
button{
background-color: violet;
}
main{
background-color: violet;
}
    </style>
</head>
<body>
<header class="container-fluid p-3 bg-secondary text-white">
    <h1 th:text="${pageInfo.getPageTitle()}"></h1>
</header>
<main>
    <div class="row mb-3">
        <a href="/" class="btn btn-dark p-3" type="button">Back to home!</a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h5>Choose basics</h5>
        </div>
        <div class="col-lg-6">
            <h5>Your chosen book</h5>
        </div>
    </div>

    <!--LEFT SIDE-->
    <form method="get" action="/the_book">
        <div class="row justify-content-left my-5">
            <div class="col-lg-1 p-1"></div>
            <div class="col-lg-4 p-1">

                <label class="form-label">Cover type</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book-half"></i>
                    </span>
                    <select class="form-select" name="coverType">
                        <option value="hardcover">hardcover</option>
                        <option value="journal">journal</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right" title="Journal type is soft cover made with only leather and no wood cardboard">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>

                <label class="form-label">Leather type</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book-half"></i>
                    </span>
                    <select class="form-select" name="leatherType">
                        <option value="chrome">chrome tanned</option>
                        <option value="vegetable">vegetable tanned</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right"
                              title="...
                              CHROME TANNED LEATHER: factory tanned leather for simple designs,
                              .
                              VEGETABLE TANNED LEATHER: high quality leather with possibility for multi-color,
                              .
                              color with shades and hand engravings">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>

                <label class="form-label">Leather color</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book-half"></i>
                    </span>
                    <select class="form-select" name="colourOfLeather">
                        <option value="natural">natural</option>
                        <option value="caramel">caramel</option>
                        <option value="dark brown">dark brown</option>
                        <option value="black">black</option>
                        <option value="red">red</option>
                        <option value="multi">multi-colored</option>
                        <option value="white leather">white</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right"
                              title="'natural', 'multi-colored' and 'white' options only for vegetable tanned leather cover">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>


                <label class="form-label">Size</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book"></i>
                    </span>
                    <select class="form-select" name="size">
                        <option value="A5">A5</option>
                        <option value="B5">B5</option>
                        <option value="A4">A4</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right"
                              title="A5 = 14,8cm x 21cm, B5 = 17,6cm x 25cm, A4 = 21cm x 29,7cm">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>


                <label class="form-label">How many pages</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book"></i>
                    </span>
                    <select class="form-select" name="numberOfPages">
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right"
                              title="SUGGESTION: at least 160 pages for sketch and not more that 200 for watercolor paper types">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>

                <label class="form-label">Paper type</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book"></i>
                    </span>
                    <select class="form-select" name="paperType">
                        <option value="sketch">sketch paper</option>
                        <option value="drawing">drawing paper</option>
                        <option value="watercolor">watercolor paper</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right"
                              title="Sketch paper = 120 g/m, drawing paper = 160g/m">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>

                <label class="form-label">Basic paper color</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-book"></i>
                    </span>
                    <select class="form-select" name="paperBaseColour">
                        <option value="white">white</option>
                        <option value="beige">beige</option>
                        <option value="sand">sand</option>
                    </select>
                    <!--Tooltip-->
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="right"
                              title="For watercolor paper type - only option is 'white' color">
                            <i class="bi bi-question-circle text-muted"></i>
                        </span>
                    </span>
                </div>

            </div>
            <div class="col-lg-1 p-1"></div>
            <!--RIGHT SIDE-->
            <div class="col-lg-5 p-1">
                <div class="row my-5">
                    <div class="col-lg-7 p-1">
                        <div><span><b>Cover type:</b></span></div>
                        <div><span><b>Leather type:</b></span></div>
                        <div><span><b>Colour of the leather:</b></span></div>
                        <div><span><b>Size:</b></span></div>
                        <div><span><b>Number of pages:</b></span></div>
                        <div><span><b>Paper type:</b></span></div>
                        <div><span><b>Paper base colour:</b></span></div>
                        <div><span><h2><b>Total price:</b></h2></span></div>
                    </div>
                    <div class="col-lg-5 p-1">
                        <div><span th:text="${coverType}"></span></div>
                        <div><span th:text="${leatherType}"></span></div>
                        <div><span th:text="${colourOfLeather}"></span></div>
                        <div><span th:text="${size}"></span></div>
                        <div><span th:text="${numberOfPages}"></span></div>
                        <div><span th:text="${paperType}"></span></div>
                        <div><span th:text="${paperBaseColour}"></span></div>
                        <div><h2><b><span th:text="${totalPrice}"></span></b></h2></div>
                    </div>

                </div>
                <div class="row my-1">
                    <div class="row mb-3">
                        <button type="submit" class="btn btn-secondary p-3">
                            Calculate the price.
                        </button>
                    </div>
    </form>
    <h5>Please enter your details</h5>
    <div class="row mb-1"style="background-color:violet; height: 30px"></div>
    <div class="col-lg-6 p-0">
        <div><label class="form-label">Name, surname</label></div><br>
        <div> <label class="form-label">Shipping address:</label></div><br>
        <div><label class="form-label"> Email:</label></div>
    </div>
    <div class="col-lg-6 p-0">
        <form method="get" action="/receipt">
            <div class="mb-4 input-group">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" name="customerName">
            </div>
            <div class="mb-4 input-group">
                <span class="input-group-text"><i class="bi bi-house-fill"></i></span>
                <input type="text" name="customerAddress">
            </div>
            <div class="mb-4 input-group">
                <span class="input-group-text"><i class="bi bi-at"></i></span>
                <input type="email" name="customerEmail">
            </div>
    </div>

    </div>
    </div>


    <div class="col-lg-1 p-3"></div>
    </div>

    <div class="row mb-1">
        <button type="submit" class="btn btn-secondary p-3">
            Create
        </button>
    </div>
    </form>


</main>

<script>
    const tooltips=document.querySelectorAll('.tt')
    tooltips.forEach(t=>{
        new bootstrap.Tooltip(t)
    })
</script>
</body>
</html>
